.v1 {
    color: blueviolet;
    background-color: bisque;
}
.v2{
    color: azure;
    background-color: blue;
}
.v3{
    color: aqua;
    background-color:grey;
}
.v4{
    color: aquamarine;
    background-color: brown;
}
.v5{
    color: purple;
    background-color: orange;
}
.v6{
    color: pink;
    background-color:black;
}
.v7{
    color: rgb(230, 196, 255);
    background-color:red;
}
.v8{
    color: aqua;
    background-color: yellow;
}
.v9{
    color: azure;
    background-color: darkgreen;
}
.v10{
    color: antiquewhite;
    background-color: violet;
}
.v11{
    color:aliceblue;
    background-color:maroon;
}
.v12{
    color: grey;
    background-color: darkblue;
}
.v13{
    color: olive;
    background-color: gold;
}
.v14{
    color: whitesmoke;
    background-color: coral;
}
.v15{
    color: orchid;
    background-color: cadetblue;
}
.v16{
    color: wheat;
    background-color: chocolate;
}